@charset "UTF-8";

body{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 400px;
    padding: 15px 15px 5px 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    text-align: left;
}

div{
    margin-top: 15px;
}



footer{
    text-align: center;
    color:white;
    font-style: italic;

}